// general styles
h3 {
    margin-bottom: 15px;
}

h4 {
    margin: 15px 0px 15px 0px;
}

aside {
    padding: 30px;
}

a {
    font-weight: 400;
}

// about aside
.all-about {
    display: flex;
    flex-direction: column;
    width: 31%;
    margin-right: 25px;
}

.about-willow {
    height: 610px;
    margin-top: 75px;
    background-color: white;
}

.about-willow img {
    width: 100%;
}

.about-willow a {
    color: #345231;
    text-transform: none;
    margin: 0;
    font-weight: 700;
}

// recent posts aside
.recent-posts {
    margin-top: 30px;
    background-color: white;
    padding-top: 10px;
}

.recent-posts li {
    margin-left: 25px;
}

.recents a {
    text-transform: none;
    color: black;
    margin: 0;
    padding-left: 10px;
}