// CONTACT ME HTML
.contact-me {
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    height: 500px;
}

.contact-title {
    height: 100%;
}

.contact-title h1 {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-top: 19px;
}