/* form styles */
.form-tab {
    margin: 75px 0px 0px 35px;
    width: 100%;
}

fieldset {
    height: 40vh;
    border: 0;
}

.user-input {
    display: flex;
    justify-content: space-between;
}

input[type=userName],
input[type=email] {
    border: none;
    width: calc(100%/2 - 25px);
    height: 45px;
    padding: 5px 0px 5px 15px
}

textarea {
    border: none;
    margin-top: 20px;
    resize:none;
    padding: 25px 0px 5px 25px;
    font-size: 18px;
    font-family: 'montserrat'
}

.text-area {
    border: none;
    width: 100%;
}

button {
    background-color: #E4A436;
    border: none;
    font-family: 'Albril Fatface';
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
}

.email-address {
    font-weight: 700;
    padding: 0px 0px 10px 0px;
}

button {
    width: 100%;
}