.home-splash {
    height: 750px;
    background-color: #345231;
}

.home-container {
    display: flex;
}

.home-container h1 {
    display: flex;
    align-items: center;
    position: relative;
    left: 222px;
}

.author-photo {
    box-shadow: 20px 20px white;
    width: 40%;
    position: relative;
    left: 235px;
    top: 125px;
}

.circle-text {
    position: relative;
    width: 6%;
    height: 6%;
    left: 260px;
    top: 275px;
}

// about section
.who-splash {
    height: 400px;
    padding-top: 70px;
}

.who-container {
    text-align: center;
}

.who-container h2 {
    color: black;
    padding: 20px 0px 20px 0px;
}

// personal splash
.first-row {
    display: flex;
}

.personal-wrapper {
    width: 100%;
}

.personal-splash {
    background-color: white;
}

.left-image {
    background-color: #446b40;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 25px;
}

.left-image img {
    position: relative;
    bottom: 25px;
    right: 25px;
}

.favourite-things {
    padding: 75px 75px 50px 75px;
    width: 600px;
}

.second-row {
    display: flex;
}

.bucket-list {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 25px 75px 50px 75px;
    width: 50%;
}

.bucket-list p {
    width: 70%;
}

.bucket-list p,
.bucket-list button {
    align-self: flex-end;
}   

.right-image {
    background-color: #1d361a;
    width: 50%;
    position: relative;
    top: 50px;
}

.right-image img {
    position: relative;
    right: 25px;
    bottom: 25px;
}

// journey
.my-journey {
    // height: 600px;
    padding: 65px 35px 35px 35px;
}

.portrait-wrapper img {
    box-shadow: 25px 25px #446b40;
}

.journey-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 35px;
}

.journey-container h2 {
    color: black;
    padding: 20px 0px 20px 0px;
}

.journey-content {
    margin-left: 100px;
}

.journey-content h2 {
    text-align: left;
}

// flower field
.image-break {
    width: 100%;
}

// gallery 
.gallery {
    background-color: white;
}

.gallery ul {
    display: flex;
    flex-wrap:wrap;
}

.gallery li {
    width: calc(100% / 3 - 80px);
    margin: 40px 25px 40px 25px;
    list-style: none;
    scale: 0.8;
}

// wrapping up
.wrap-up {
    display: flex;
}

.photos-about, 
.blog-contact {
    display: flex;
    padding: 20px;
}

.wrap-photos,
.wrap-about,
.wrap-blog,
.wrap-contact {
    display: block;
    width: 50%;
    padding: 20px;
}

.photos-about i,
.blog-contact i {
    background-color: #E4A436;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    scale: 0.8;
    padding: 5px;
}

.photos-h3,
.about-h3,
.blog-h3,
.contact-h3 {
    margin: 0 auto;
}
