a:hover {
    color: #E4A436;
    transition: 0.4s;
}

button:hover {
    background-color: #ebb456;
}

.photos-about h3:hover,
.blog-contact h3:hover {
    color: #ebb456;
}

.socials-tab a:hover,
i.fa-angle-down:hover {
    color: #E4A436;
    transition: 0.4s;
}