a:hover {
    color: #E4A436;
    transition: 0.3s;
}

button:hover {
    background-color: #ebb456;
}

nav button i:hover{
    transition: 0.3s;
    color: #e4a436;
}

.photos-about h3:hover,
.blog-contact h3:hover {
    color: #ebb456;
}

.socials-tab a:hover,
i.fa-angle-down:hover {
    color: #E4A436;
    transition: 0.3s;
}

.arrow-links li:hover {
    background-color: rgba(36, 83, 39, 0.5);
    width: 100%;
}