@media (max-width: 550px) {
    // CONTACT PAGE MEDIA QUERY
    .contact-title h1 {
        font-size: 70px;
    }

    .all-tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socials-tab {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px 0px 20px 0px;
    }

    .socials-tab ul {
        justify-content: space-evenly;
        font-size: 30px;
    }

    .socials-tab p {
        display: none;
    }

    .form-tab {
        margin: 0 auto;
    }
    input[type=userName],
    input[type=email] {
    border: none;
    width: calc(100%/2 - 18px);
    height: 45px;
    padding: 5px 0px 5px 15px
    }

    // HOME PAGE MEDIA
    .author-photo {
        width: 70%;
    }
    
    .who-splash {
        padding-top: 25px;
        height: 500px;
    }

    .favourite-things {
        max-width: 550px;
        width: 70%;
    }

    .second-row {
        max-width: 550px;
    }

    .bucket-list {
        padding: 25px;
    }
    
    .gallery {
        display: none;
    }

    .photos-about,
    .blog-contact {
        display: flex;
        flex-direction: column;
    }

    .wrap-blog {
        width: 100%;
        padding: 0 auto;
    }

    .wrap-contact {
        width: 100%;
    }

    .photos-about p,
    .blog-contact p {
        display: none;
    }
}