nav a {
    text-transform: uppercase;
    padding: 27px 35px 27px 35px;
    text-decoration: none;
    cursor: pointer;
    color: #F6F6F6;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}