a {
    text-transform: uppercase;
    padding: 0px 35px 0px 35px;
    text-decoration: none;
    cursor: pointer;
    color: #F6F6F6;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

nav ul li:last-child a {
    color:#E4A436;
}