nav a {
    text-transform: uppercase;
    padding: 27px 35px 27px 35px;
    text-decoration: none;
    cursor: pointer;
    color: #F6F6F6;
    font-weight: 700;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 15px;
}

.logo {
    font-family: 'Abril Fatface';
    font-size: 42px;
    color: #F6F6F6;
    text-transform: uppercase;
}

#nav-trigger {
    display: none;
}

// mobile navigation styles
.arrow-links {
    display: none;
    flex-direction: column;
    width: 90%;
}

.arrow-links ul {
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 100;
    padding: 40px 0;
    width: 100%;
    top: 90px;
    transition: all 400ms ease-in-out;
}

.arrow-links li {
    text-align: center;
    padding: 25px;
}

.show {
    display: block;
}