/* socials tab */
.all-tabs {
    display: flex;
}

.socials-tab {
    height: 30%;
    width: 30%;
    background: white;
    padding: 35px 30px 35px 30px;
    margin-top: 75px;
}

.socials-tab ul {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    list-style-type: none;
    color: #345231;
    font-size: 22px;
    height: 35px;
    max-height: 35px;
}

.socials-tab li {
    max-width: 55px;
}

.socials-tab a {
    color: #345231;
    font-weight: 400;
    padding: 0px 10px 0px 10px;
}