h1 {
    font-size: 80px;
    letter-spacing: 1px;
    line-height: 92px;
    color: #F6F6F6;
    text-transform: uppercase;
    font-family: 'Albril Fatface';
}

h2 {
    font-family: 'Albril Fatface';
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 0px 10px 0px 10px;
}

p {
    font-size: 20px;
    line-height: 32px;
}