a {
  text-transform: uppercase;
  padding: 0px 35px 0px 35px;
  text-decoration: none;
  cursor: pointer;
  color: #F6F6F6;
  font-weight: 700;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 15px;
}

nav ul li:last-child a {
  color: #E4A436;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #345231;
}

body {
  background: #F6F6F6;
  font-family: "montserrat";
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin-top: 65px;
}

/* socials tab */
.all-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-tab {
  height: 250px;
  width: 475px;
  background: white;
  padding: 35px 30px 35px 30px;
  margin-top: 75px;
}

.socials-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: #345231;
  font-size: 22px;
  height: 35px;
  max-height: 35px;
}

.socials-tab li {
  max-width: 55px;
}

/* form styles */
.form-tab {
  margin: 75px 0px 0px 35px;
  width: 100%;
}

fieldset {
  height: 40vh;
  border: 0;
}

.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=userName],
input[type=email] {
  border: none;
  width: calc(100%/2 - 25px);
  height: 45px;
  padding: 5px 0px 5px 15px;
}

textarea {
  border: none;
  margin-top: 20px;
  resize: none;
  padding: 25px 0px 5px 25px;
  font-size: 18px;
  font-family: "montserrat";
}

.text-area {
  border: none;
  width: 100%;
}

button {
  background-color: #E4A436;
  border: none;
  font-family: "Albril Fatface";
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

.email-address {
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

button {
  width: 100%;
}

h1 {
  font-size: 80px;
  letter-spacing: 1px;
  line-height: 92px;
  color: #F6F6F6;
  text-transform: uppercase;
  font-family: "Albril Fatface";
}

h2 {
  font-family: "Albril Fatface";
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0px 10px 0px 10px;
}

h3 {
  font-family: "Albril Fatface";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-family: "Albril Fatface";
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
}

p {
  font-size: 20px;
  line-height: 32px;
}

.about-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-willow {
  background-color: white;
  padding: 30px;
  margin-top: 75px;
}

.about-willow img {
  width: 100%;
}

.about-willow a {
  font-size: 18px;
  text-transform: none;
  font-weight: 700;
  color: #345231;
}

.recent-posts {
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin-top: 30px;
}

.recent-posts li {
  margin-left: 25px;
}

.recents a {
  text-transform: none;
  color: black;
  margin: 0;
  padding-left: 10px;
}

aside {
  width: 27.5%;
}

aside h4 {
  margin: 15px 0px 15px 0px;
}

aside a {
  font-weight: 400;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-me {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  height: 50vh;
}

.contact-title {
  height: 100%;
}

.contact-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}

.blog-splash {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 50vh;
}

.blog-title {
  height: 100%;
}

.blog-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}