* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #345231;
}

body {
  background: #F6F6F6;
  font-family: "montserrat";
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin-top: 65px;
}

nav a {
  text-transform: uppercase;
  padding: 27px 35px 27px 35px;
  text-decoration: none;
  cursor: pointer;
  color: #F6F6F6;
  font-weight: 700;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 15px;
}

.logo {
  font-family: "Abril Fatface";
  font-size: 42px;
  color: #F6F6F6;
  text-transform: uppercase;
}

#nav-trigger {
  display: none;
}

.arrow-links {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.arrow-links ul {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  z-index: 100;
  padding: 40px 0;
  width: 100%;
  top: 90px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.arrow-links li {
  text-align: center;
  padding: 25px;
}

.show {
  display: block;
}

h1 {
  font-size: 80px;
  letter-spacing: 1px;
  line-height: 92px;
  color: #F6F6F6;
  text-transform: uppercase;
  font-family: "Albril Fatface";
}

h2 {
  font-family: "Albril Fatface";
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0px 10px 0px 10px;
}

h3 {
  font-family: "Albril Fatface";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h4 {
  font-family: "Albril Fatface";
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 15px 0px 15px 0px;
}

p {
  font-size: 20px;
  line-height: 32px;
}

aside {
  padding: 30px;
}

a:hover {
  color: #E4A436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  background-color: #ebb456;
}

nav button i:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #e4a436;
}

.photos-about h3:hover,
.blog-contact h3:hover {
  color: #ebb456;
}

.socials-tab a:hover,
i.fa-angle-down:hover {
  color: #E4A436;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-links li:hover {
  background-color: rgba(36, 83, 39, 0.5);
  width: 100%;
}

/* form styles */
.form-tab {
  margin: 75px 0px 0px 35px;
  width: 100%;
}

.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=userName],
input[type=email] {
  border: none;
  width: calc(100%/2 - 25px);
  height: 45px;
  padding: 5px 0px 5px 15px;
}

textarea {
  width: 100%;
  border: none;
  margin-top: 20px;
  resize: none;
  font-size: 18px;
  font-family: "montserrat";
}

.text-area {
  border: none;
  width: 100%;
}

button {
  background-color: #E4A436;
  border: none;
  font-family: "Albril Fatface";
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  cursor: pointer;
}

.submit-button,
.comment-button {
  width: 100%;
  padding: 15px 0 15px 0;
}

.find-button {
  padding: 15px 20px 15px 20px;
}

.read-more {
  padding: 15px 20px 15px 20px;
}

.email-address {
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

.home-splash {
  height: 750px;
  background-color: #345231;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 222px;
}

.author-photo {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  width: 40%;
  position: relative;
  left: 235px;
  top: 125px;
}

.circle-text {
  position: relative;
  width: 6%;
  height: 6%;
  left: 260px;
  top: 275px;
}

.who-splash {
  height: 400px;
  padding-top: 70px;
}

.who-container {
  text-align: center;
}

.who-container h2 {
  color: black;
  padding: 20px 0px 20px 0px;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-wrapper {
  width: 100%;
}

.personal-splash {
  background-color: white;
}

.left-image {
  background-color: #446b40;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: 25px;
}

.left-image img {
  position: relative;
  bottom: 25px;
  right: 25px;
}

.favourite-things {
  padding: 75px 75px 50px 75px;
  width: 600px;
}

.second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bucket-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 25px 75px 50px 75px;
  width: 50%;
}

.bucket-list p {
  width: 70%;
}

.bucket-list p,
.bucket-list button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.right-image {
  background-color: #1d361a;
  width: 50%;
  position: relative;
  top: 50px;
}

.right-image img {
  position: relative;
  right: 25px;
  bottom: 25px;
}

.my-journey {
  padding: 65px 35px 35px 35px;
}

.portrait-wrapper img {
  -webkit-box-shadow: 25px 25px #446b40;
          box-shadow: 25px 25px #446b40;
}

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 35px;
}

.journey-container h2 {
  color: black;
  padding: 20px 0px 20px 0px;
}

.journey-content {
  margin-left: 100px;
}

.journey-content h2 {
  text-align: left;
}

.image-break {
  width: 100%;
}

.gallery {
  background-color: white;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery li {
  width: calc(100% / 3 - 80px);
  margin: 40px 25px 40px 25px;
  list-style: none;
  scale: 0.8;
}

.wrap-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos-about,
.blog-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.wrap-photos,
.wrap-about,
.wrap-blog,
.wrap-contact {
  display: block;
  width: 50%;
  padding: 20px;
}

.photos-about i,
.blog-contact i {
  background-color: #E4A436;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  scale: 0.8;
  padding: 5px;
}

.photos-h3,
.about-h3,
.blog-h3,
.contact-h3 {
  margin: 0 auto;
}

.all-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  margin-right: 25px;
}

.about-willow {
  height: 610px;
  margin-top: 75px;
  background-color: white;
}

.about-willow img {
  width: 100%;
}

.about-willow a {
  color: #345231;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  font-weight: 700;
}

.recent-posts {
  margin-top: 30px;
  background-color: white;
  padding-top: 10px;
}

.recent-posts li {
  margin-left: 25px;
}

.recents a {
  color: black;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  padding-left: 10px;
}

.blog-splash {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 500px;
}

.blog-title {
  height: 100%;
}

.blog-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.blog-post {
  background-color: white;
  border-bottom: 5px solid #345231;
  padding: 25px;
  margin-top: 75px;
  max-width: 1200px;
}

.post-date {
  margin-bottom: 10px;
}

.blog-comments {
  margin-top: 30px;
}

.first-comment {
  background-color: white;
  padding: 25px;
  margin-top: 35px;
}

.second-comment {
  background-color: white;
  padding: 25px;
  margin-top: 30px;
  border-bottom: 5px solid #345231;
}

.form-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

form {
  width: 100%;
}

.contact-me {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  height: 500px;
}

.contact-title {
  height: 100%;
}

.contact-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}

/* socials tab */
.all-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-tab {
  height: 30%;
  width: 30%;
  background: white;
  padding: 35px 30px 35px 30px;
  margin-top: 75px;
}

.socials-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  list-style-type: none;
  color: #345231;
  font-size: 22px;
  height: 35px;
  max-height: 35px;
}

.socials-tab li {
  max-width: 55px;
}

.socials-tab a {
  color: #345231;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }

  .circle-text {
    display: none;
  }

  .home-container h1 {
    display: none;
  }

  .left-image {
    background: white;
    bottom: 0px;
    width: 50%;
  }

  .left-image img,
.right-image img {
    bottom: 0;
    right: 0;
  }

  .right-image {
    background: white;
    width: 50%;
    top: 0;
  }

  .bucket-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    width: 100%;
    padding: 50px 45px 30px 10px;
  }

  .bucket-list p {
    width: 100%;
  }

  .gallery li {
    width: calc(90% / 3 - 10px);
    margin: 0;
    scale: 0.65;
  }
}
@media (max-width: 700px) {
  .nav-menu {
    background-color: #345231;
  }

  nav.nav-menu a {
    display: none;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-menu li:nth-child(3) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }

  nav #nav-trigger {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto;
    background-color: #345231;
    display: block;
    padding-top: 5px;
    cursor: pointer;
  }

  .contact-title h1 {
    font-size: 70px;
  }

  i.fa-angle-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    font-size: 25px;
    color: white;
  }

  .wrapper {
    width: 90%;
  }

  .contact-me {
    background-image: url(../assets/contact-image-1.jpg) center;
    background-size: cover;
    padding: 0;
  }

  .all-about {
    display: none;
  }

  .blog-content {
    width: 100%;
  }

  .home-splash {
    height: 600px;
  }

  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .author-photo {
    margin-top: 50px;
    width: 50%;
    left: 0;
    top: 0;
  }

  .first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-image {
    width: 100%;
  }

  .left-image img,
.right-image img {
    width: 100%;
  }

  .favourite-things {
    max-width: 700px;
    text-align: center;
    padding: 35px 0px 35px 0px;
  }

  .second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .right-image {
    width: 100%;
    right: 0;
    bottom: 0;
  }

  .bucket-list {
    width: 90%;
    text-align: center;
  }

  .bucket-list button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .my-journey {
    padding: 65px 35px 35px 35px;
  }

  .portrait-wrapper img {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
  }

  .journey-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .journey-content {
    padding-top: 25px;
    margin-left: 0px;
  }

  .image-break {
    width: 100%;
  }

  .gallery li {
    width: calc(90% / 3 - 10px);
    margin: 0;
    scale: 0.45;
  }
}
@media (max-width: 550px) {
  .contact-title h1 {
    font-size: 70px;
  }

  .all-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .socials-tab {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 0px 20px 0px;
  }

  .socials-tab ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 30px;
  }

  .socials-tab p {
    display: none;
  }

  .form-tab {
    margin: 0 auto;
  }

  input[type=userName],
input[type=email] {
    border: none;
    width: calc(100%/2 - 18px);
    height: 45px;
    padding: 5px 0px 5px 15px;
  }

  .author-photo {
    width: 70%;
  }

  .who-splash {
    padding-top: 25px;
    height: 500px;
  }

  .favourite-things {
    max-width: 550px;
    width: 70%;
  }

  .second-row {
    max-width: 550px;
  }

  .bucket-list {
    padding: 25px;
  }

  .gallery {
    display: none;
  }

  .photos-about,
.blog-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrap-blog {
    width: 100%;
    padding: 0 auto;
  }

  .wrap-contact {
    width: 100%;
  }

  .photos-about p,
.blog-contact p {
    display: none;
  }
}