* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #345231;
}

body {
  background: #F6F6F6;
  font-family: "montserrat";
}

/* footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0px 5px 0px;
  margin-top: 65px;
}

nav a {
  text-transform: uppercase;
  padding: 27px 35px 27px 35px;
  text-decoration: none;
  cursor: pointer;
  color: #F6F6F6;
  font-weight: 700;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 15px;
}

h1 {
  font-size: 80px;
  letter-spacing: 1px;
  line-height: 92px;
  color: #F6F6F6;
  text-transform: uppercase;
  font-family: "Albril Fatface";
}

h2 {
  font-family: "Albril Fatface";
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0px 10px 0px 10px;
}

h3 {
  font-family: "Albril Fatface";
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h4 {
  font-family: "Albril Fatface";
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 15px 0px 15px 0px;
}

p {
  font-size: 20px;
  line-height: 32px;
}

aside {
  padding: 30px;
}

a:hover {
  color: #E4A436;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover {
  background-color: #ebb456;
}

/* form styles */
.form-tab {
  margin: 75px 0px 0px 35px;
  width: 100%;
}

fieldset {
  height: 40vh;
  border: 0;
}

.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type=userName],
input[type=email] {
  border: none;
  width: calc(100%/2 - 25px);
  height: 45px;
  padding: 5px 0px 5px 15px;
}

textarea {
  border: none;
  margin-top: 20px;
  resize: none;
  padding: 25px 0px 5px 25px;
  font-size: 18px;
  font-family: "montserrat";
}

.text-area {
  border: none;
  width: 100%;
}

button {
  background-color: #E4A436;
  border: none;
  font-family: "Albril Fatface";
  font-weight: 700;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  cursor: pointer;
}

.submit-button {
  width: 100%;
}

.comment-button {
  width: 100%;
}

.find-button {
  padding: 15px 20px 15px 20px;
}

.read-more {
  padding: 15px 20px 15px 20px;
}

.email-address {
  font-weight: 700;
  padding: 0px 0px 10px 0px;
}

.home-splash {
  height: 75vh;
  background-color: #345231;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-photo {
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
  width: 40%;
  position: relative;
  left: 340px;
  top: 125px;
}

.circle-text {
  position: absolute;
}

.who-splash {
  height: 400px;
  padding-top: 70px;
}

.who-container {
  text-align: center;
}

.who-container h2 {
  color: black;
  padding: 20px 0px 20px 0px;
}

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-splash {
  max-height: 100vh;
  background-color: white;
}

.left-image {
  max-height: 400px;
  position: relative;
  -webkit-box-shadow: -25px 20px #446b40;
          box-shadow: -25px 20px #446b40;
  bottom: 50px;
  right: 50px;
  width: 100%;
}

.left-image img {
  max-height: 400px;
}

.favourite-things {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 45px 0px 25px 25px;
}

.second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bucket-list {
  text-align: right;
  padding: 45px 25px 25px 0px;
}

.right-image {
  margin: 0 auto;
  max-height: 400px;
  position: relative;
  -webkit-box-shadow: 25px 25px #273d24;
          box-shadow: 25px 25px #273d24;
  top: 25px;
  left: 50px;
}

.my-journey {
  max-height: 600px;
  padding: 65px 35px 35px 35px;
}

.portrait-wrapper img {
  -webkit-box-shadow: 25px 25px #446b40;
          box-shadow: 25px 25px #446b40;
}

.journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 35px;
}

.journey-container h2 {
  color: black;
  padding: 20px 0px 20px 0px;
}

.journey-content {
  margin-left: 100px;
}

.journey-content h2 {
  text-align: left;
}

.image-break {
  width: 100%;
  max-height: 600px;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery li {
  width: calc(100% / 3 - 80px);
  margin: 40px 25px 40px 25px;
  list-style: none;
  scale: 0.8;
}

.wrap-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos-about,
.blog-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.wrap-photos,
.wrap-about,
.wrap-blog,
.wrap-contact {
  display: block;
  width: 50%;
  padding: 20px;
}

.all-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  margin-right: 25px;
}

.about-willow {
  height: 610px;
  margin-top: 75px;
  background-color: white;
}

.about-willow img {
  width: 100%;
}

.about-willow a {
  color: #345231;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  font-weight: 700;
}

.recent-posts {
  margin-top: 30px;
  background-color: white;
  padding-top: 10px;
}

.recent-posts li {
  margin-left: 25px;
}

.recents a {
  color: black;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  padding-left: 10px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.blog-post {
  background-color: white;
  border-bottom: 5px solid #345231;
  padding: 25px;
  margin-top: 75px;
  max-width: 1200px;
}

.post-date {
  margin-bottom: 10px;
}

.blog-comments {
  margin-top: 30px;
}

.first-comment {
  background-color: white;
  padding: 25px;
  margin-top: 35px;
}

.second-comment {
  background-color: white;
  padding: 25px;
  margin-top: 30px;
  border-bottom: 5px solid #345231;
}

.form-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
}

form {
  width: 100%;
}

/* socials tab */
.all-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-tab {
  height: 250px;
  width: 475px;
  background: white;
  padding: 35px 30px 35px 30px;
  margin-top: 75px;
}

.socials-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  list-style-type: none;
  color: #345231;
  font-size: 22px;
  height: 35px;
  max-height: 35px;
}

.socials-tab li {
  max-width: 55px;
}

.socials-tab a {
  color: #345231;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
}

.contact-me {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  height: 50vh;
}

.contact-title {
  height: 100%;
}

.contact-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}

.blog-splash {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  height: 50vh;
}

.blog-title {
  height: 100%;
}

.blog-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-top: 19px;
}